.select-wrapper {
    position: relative;
    left: 1130px;
    top: 148px;
    width: 180px;
}

.dropdown-btn {
    border-color: transparent;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    font-family: "geometria_medium";
    background: white;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    padding: 18px 20px;
}

.dropdown-btn::after {
    content: "";
    position: absolute;
    top: 30%;
    display: block;
    width: 20px;
    height: 20px;
    left: 150px;
    background: url("../icons/arrow.png");
    background-size: 100% 100%;
    pointer-events: none;
}

.dropdown {
    position: relative;
    width: 180px;
}

.dropdown-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 52px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    overflow: hidden;
    width: 180px;
    z-index: 1;
}

.dropdown-item {
    margin: 10px 5px;
    padding: 18px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'geometria_medium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}


@media (max-width: 1350px) {
    .select-wrapper {
        position: relative;
        left: 930px;
        top: 148px;
        width: 180px;
    }
}

@media (max-width: 1200px) {
    .select-wrapper {
        position: relative;
        left: 730px;
        top: 148px;
        width: 180px;
    }
}

@media (max-width: 992px) {
    .select-wrapper {
        position: relative;
        left: 535px;
        top: 148px;
        width: 180px;
    }
}

@media (max-width: 768px) {
    .select-wrapper {
        position: relative;
        width: 54px;
        height: 48px;
        left: 301px;
        top: 108px;
    }

    .dropdown-btn {
        width: 54px;
        height: 48px;
        border-color: transparent;
        box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        font-family: "geometria_medium";
        background: white;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        padding: 0;
        cursor: pointer;
        color: transparent;
    }

    .dropdown-btn::after {
        content: "";
        position: absolute;
        top: 30%;
        display: block;
        width: 20px;
        height: 20px;
        left: 22px;
        background: url("../icons/arrow.png");
        background-size: 100% 100%;
        pointer-events: none;
    }

    .dropdown {
        position: relative;
        width: 54px;
        height: 48px;
    }

    .dropdown-content {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        left: -125px;
        top: 52px;
        background: #FFFFFF;
        box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        overflow: hidden;
        width: 180px;
        z-index: 1;
    }

    .dropdown-item {
        margin: 10px 5px;
        padding: 18px 20px;
        cursor: pointer;
        /*width: 100%;*/
        border-radius: 5px;
        font-family: 'geometria_medium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 480px) {
    .select-wrapper {
        position: relative;
        width: 54px;
        height: 48px;
        left: 301px;
        top: 108px;
    }

    .dropdown-btn {
        width: 54px;
        height: 48px;
        border-color: transparent;
        box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        font-family: "geometria_medium";
        background: white;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        padding: 0;
        cursor: pointer;
        color: transparent;
    }

    .dropdown-btn::after {
        content: "";
        position: absolute;
        top: 30%;
        display: block;
        width: 20px;
        height: 20px;
        left: 22px;
        background: url("../icons/arrow.png");
        background-size: 100% 100%;
        pointer-events: none;
    }

    .dropdown {
        position: relative;
        width: 54px;
        height: 48px;
    }

    .dropdown-content {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        left: -125px;
        top: 52px;
        background: #FFFFFF;
        box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        overflow: hidden;
        width: 180px;
        z-index: 1;
    }

    .dropdown-item {
        margin: 10px 5px;
        padding: 18px 20px;
        cursor: pointer;
        /*width: 100%;*/
        border-radius: 5px;
        font-family: 'geometria_medium';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
}
