@font-face {
    font-family: 'geometria_bold';
    src: local('geometria_bold'),
    url("../fonts/geometria_bold.woff2") format("woff2"),
    url("../fonts/geometria_bold.woff") format("woff")
}

@font-face {
    font-family: 'geometria_medium';
    src: local('geometria_medium'),
    url("../fonts/geometria_medium.woff2") format("woff2"),
    url("../fonts/geometria_medium.woff") format("woff")
}

@font-face {
    font-family: 'geometria_light';
    src: local('geometria_light'),
    url("../fonts/geometria_light.woff2") format("woff2"),
    url("../fonts/geometria_light.woff") format("woff")
}

.titlePage {
    position: absolute;
    width: 302px;
    height: 35px;
    left: 130px;
    top: 160px;
    font-family: 'geometria_medium';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.searchName {
    position: absolute;
    width: 980px;
    height: 48px;
    left: 130px;
    top: 242px;
}

.search {
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    width: 980px;
    height: 48px;
    border: transparent;
    font-size: 16px;
    font-family: "geometria_light";
    /*color: #cbcbcb;*/
    /*padding: 0 55px;*/
}

.search::placeholder {
    padding: 0 55px;
}

.search::-webkit-input-placeholder {
    padding: 0 55px;
}

.imageMagnifier {
    position: absolute;
    width: 18.52px;
    left: 20px;
    top: 31.25%;
    bottom: 30.16%;
}